  <%- include ('partials/header.ejs') %>
  <body>
    <main id="site-main">
        <section
        class="hero-section hero-50 d-flex justify-content-center align-items-center"
      >
        <svg
          viewBox="0 0 1962 178"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            fill="#3D405B"
            d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#3D405B"
            d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z"
            stroke-width="0"
          ></path>
        </svg>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12">
              <h1 class="text-white mb-4 pb-2">Edit Post</h1>
            </div>
          </div>
        </div>
        <svg
          viewBox="0 0 1962 178"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <path
            fill="#ffffff"
            d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z"
            stroke-width="0"
          ></path>
          <path
            fill="#ffffff"
            d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z"
            stroke-width="0"
          ></path>
        </svg>
      </section>
      
      <section 
        class="events-section events-detail-section section-padding"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
              <form
                action="/edit/<%= post.id %>"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    id="title"
                    name="title"
                    value="<%= post.title %>"
                    required
                    class="form-control"
                  />
                </div>
                <div class="mb-3">
                  <label for="body" class="form-label">Body</label>
                  <textarea
                    class="form-control"
                    id="body"
                    rows="4"
                    name="body"
                    required
                  ><%= post.body %></textarea>
                </div>
               
                <div class="mb-3">
                  <label for="image" class="form-label">Upload Image</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                  />
                </div>
      
                 <button type="submit" class="btn custom-btn smoothscroll me-3"
                >Save Changes</button>
      
              </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </main>
  </body>
  <%- include ('partials/footer.ejs') %>
  <script src=".././js/jquery.min.js"></script>
  <script src=".././js/bootstrap.bundle.min.js"></script>
  <script src=".././js/jquery.sticky.js"></script>
  <script src=".././js/click-scroll.js"></script>
  <script src=".././js/animated-headline.js"></script>
  <script src=" .././js/modernizr.js"></script>
  <script src=".././js/custom.js"></script>





