<%- include('partials/header.ejs') %>

<body>
  <main>
    <section
      class="hero-section d-flex justify-content-center align-items-center"
      id="section_1"
    >
      <div class="section-overlay"></div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#3D405B"
          fill-opacity="1"
          d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
        ></path>
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-12 mb-5 mb-lg-0">
            <h2 class="text-white">Welcome to the Afghan Hijabista Blog Hub</h2>

            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
              <span>CoverMeChic is</span>
              <span class="cd-words-wrapper">
                <b class="is-visible">Elegant</b>
                <b>Creative</b>
                <b>Lifestyle</b>
              </span>
            </h1>

            <div class="custom-btn-group">
              <a href="#section_4" class="btn custom-btn smoothscroll me-3"
                >Latest Posts</a
              >
            </div>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        ></path>
      </svg>
    </section>

    <section class="about-section section-padding" id="section_2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12 text-center">
            <h2 class="mb-lg-5 mb-4">
              About <span class="cover">CoverMeChic</span>
            </h2>
            <img
              src="https://assets-global.website-files.com/64e379f5c8606ea47c3e346c/64eed5c145b217c3c3cee33b_Underline%204.svg"
              loading="lazy"
              alt=""
              class="underline"
            />
          </div>

          <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
            <h3 class="mb-3">CoverMeChic History</h3>

            <p>
              <strong>CoverMeChic</strong> is an exquisite Afghan fashion blog
              dedicated to celebrating the beauty of hijab fashion. Here, we
              curate a stunning collection featuring top hijab models adorned in
              the finest creations from leading brands.
            </p>

            <p>
              Whether you're a fashion enthusiast, a designer, or a brand owner,
              our platform offers you the opportunity to showcase your unique
              style and creations to the world by creating captivating blog
              posts. Join us as we redefine modest fashion and inspire
              creativity within the hijab community.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
            <div class="member-block">
              <div class="member-block-image-wrap">
                <img
                  src="uploads/nazi.jpg"
                  class="member-block-image img-fluid"
                  alt=""
                />
              </div>

              <div class="member-block-info d-flex align-items-center">
                <p>Jumairah Collection</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-12">
            <div class="member-block">
              <div class="member-block-image-wrap">
                <img
                  src="uploads/haneen.jpg"
                  class="member-block-image img-fluid"
                  alt=""
                />
              </div>

              <div class="member-block-info d-flex align-items-center">
                <p>Haneen Collection</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="events-section events-listing-section section-bg section-padding"
      id="section_4"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <h2 class="mb-lg-3">Latest Posts</h2>
          </div>

          <% posts.forEach(post => { %>
          <div
            class="row custom-block custom-block-bg"
            style="margin-top: 20px; background-color: #f4f1de"
          >
            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
              <div class="custom-block-image-wrap">
                <% if (post.imageUrl) { %>
                <img
                  class="custom-block-image img-fluid"
                  src="<%= post.imageUrl %>"
                  alt="<%= post.title %>"
                />
                <% } %>
              </div>
            </div>

            <div class="col-lg-6 col-12 order-3 order-lg-0">
              <div class="custom-block-info mt-2 mt-lg-0">
                <h2 class="events-title mb-3"><%= post.title %></h2>

                <p class="mb-0"><%= post.body %></p>

                <div class="d-flex flex-wrap border-top mt-4 pt-3">
                  <div class="mb-4 mb-lg-0">
                    <a href="/edit/<%= post.id %>" class="btn custom-btn"
                      >Edit</a
                    >
                    <a href="event-detail.html"
                      ><form action="/delete/<%= post.id %>" method="POST">
                        <button class="btn custom-btn" type="submit">
                          Delete
                        </button>
                      </form></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
  </main>
</body>
<%- include ('partials/footer.ejs') %>
